[submodule "pack/syntax/start/python-synthax.vim"]
	path = pack/syntax/start/python-synthax.vim
	url = https://github.com/vim-python/python-syntax
[submodule "pack/plugins/start/emmet-vim.vim"]
	path = pack/plugins/start/emmet-vim.vim
	url = https://github.com/mattn/emmet-vim.git
